{
    "cpp-extra-args": [
        "-I../../",
        "-I.",
        "-DFF_MEMORY_POISON=0x2a",
        "-DHAVE_AV_CONFIG_H",
        "-DBUILDING_avutil",
        "-DPIC",
        "-DZLIB_CONST",
        "-DTIS_DETERMINISTIC_LIBC"
    ],
    "machdep": "gcc_x86_64",
    "val-printf-singleton-pointers": "true"
}